<div class="apperance" ng-controller="PhoneListCtrl">
  <div class="top">
    <h1> The list of mobiles </h1>
    </br>
    </br>
    Search:<input type="text" ng-model="query"></input>
    Sortby:
    <select ng-model="orderProp">
      <option value="age">Newest</option>
      <option value="name">Alphabetical</option>
    </select>
  </div>
  <ul class="phone">
    <li class="content" ng-repeat="phone in phones|filter:query|orderBy:orderProp">
      <a href="#/phones/{{phone.id}}"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a></span>
      <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
      <p >{{phone.snippet}}</p>
    </li>
  </ul>
</div>
